<h1><%= @post.title %></h1>
<br/>
URL: <%= @post.url %>
<br/>
Description: <%= @post.description %>
<br/>

<%= link_to 'Edit', edit_post_path(@post) %>
<br/>
<%= link_to 'Back to posts', posts_path %>